body {
	margin: 0;
}
.navbar {
	box-shadow: 0px 2px 3px rgba(88, 88, 88, 0.5);
	height: 60px;
	width: 100%;
	position: fixed;
	
}
.left-nav {
	display: inline;
	margin: 20px;
	float: left;
}
#.left-nav a{
	padding: 60px;
}
form {
	display: inline;
	margin: 20px;
	width: 70px;
}
.searchbar {
	margin: 15px;
	float: left;
	display: inline;
	padding: -20px;
}
.search {
	width: 500px;
	font-size: 16px;
	padding: 5px;
	border: 1px solid #dddddd;
}
.search-button {
	padding: 6px 20px;
	background-color: #f5f5f5;
	color: #888888;
	border: 1px solid #dddddd;
}

.navbar ul {
list-style-type: none;
float: right;
display: inline;
margin: 20px;

}
.navbar li {
display: inline;
padding: 10px;
}
a {
	text-decoration: none;
	font-family: sans-serif;
	color: #888888;
}

#sign-in {
	color: orange;
	font-size: 18px;
}
.video {
	align-items: center;
	justify-content: center;
	display: flex;
}
.title {
	text-align: center;
}
